<section class="container mb-5">
  <div class="row pt-3">
    <div class="col-12 mt-2">
      <h2 class="mt-2 mb-3">
        Edit Project
      </h2>
      <div class="add-project">
        <form class="edit-project-form">
          <div class="col-12 form-group">        
            <label for="project-title" class="font-weight-bold">Title</label>
            <input class="form-control" name="project-title" type="text" value="{{project.title}}" />
          </div>
          <div class="col-8 form-group">
            <label for="image-url" class="font-weight-bold">Screenshot</label>
            <input class="form-control" type="text" id="image-url" placeholder="Image URL" value="{{project.image_url}}" name="image-url" />
          </div>
          <div class="col-12 form-group">
            <label for="description" class="font-weight-bold">Description</label>
            <input type="hidden" value="{{project.description}}" id="description" name="description"></input>
            <trix-editor class="trix-content" input="description"></trix-editor>
          </div>
          <div class="col-8 form-group">
            <label for="date" class="font-weight-bold">Date</label>
            <input type="date" id="date" name="date" value="{{project.date}}"></input>
          </div>
          <div class="col-8 form-group">
            <label for="github-url" class="font-weight-bold">GitHub URL</label>
            <input class="form-control" type="text" id="github-url" placeholder="" value="{{project.github_url}}" name="github-url" />
          </div>
          <div class="col-8 form-group">
            <label for="public" class="font-weight-bold">Public</label>
            <input type="checkbox" id="public" name="public" {{#if project.public}}checked{{/if}}>
          </div>
          <div>
            By you on {{format_date project.created_at}}
            |
            <a class="text-primary" href="/project/{{project.id}}">{{project.comments.length}} {{format_plural "comment" project.comments.length}}</a>
          </div>
          <div class="form-inline justify-content-end">
            <div class="col-3">
              <button type="button" class="delete-project-btn btn">Delete project</button>
            </div>
            <div class="col-3">
              <button type="submit" class="edit-project-form btn">Save project</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/js/edit-project.js"></script>
<script src="/js/delete-project.js"></script>
<script src="/js/comment.js"></script>