<section class="container ">
  <div class="row pt-3">
    <a class="text-primary" href="/"> Home</a>
    <a class="text-primary" href="/dashboard"> &nbsp;/ Dashboard</a>
    <a class="text-primary" href="#"> &nbsp;/ Edit</a>
    <div class="col-12 mt-2">
      <h2 class="mt-2 mb-3">
        Edit project
      </h2>
      <form class="edit-project-form">
        <div class="col-12 form-group">        
        <label for="project-title" class="font-weight-bold">Title</label>
          <input class="form-control" name="project-title" type="text" value="{{project.title}}" />
        </div>
        <div class="col-12 form-group">
          <label for="content" class="font-weight-bold">Content</label>
          <input type="hidden" value="{{project.content}}" id="content" name="content"></input>
          <trix-editor class="trix-content" input="content"></trix-editor>
        </div>
        <div>
          By you on {{format_date project.created_at}}
          |
          <a class="text-primary" href="/project/{{project.id}}">{{project.comments.length}} {{format_plural "comment" project.comments.length}}</a>
        </div>

        <div class="form-inline justify-content-end">
          <div class="col-3">
            <button type="button" class="delete-project-btn btn">Delete project</button>
          </div>
          <div class="col-3">
            <button type="submit" class="edit-project-form btn">Save project</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="row pt-3">
    <div class="col-12">
      <form class="comment-form">
        <div class="col-9 form-group">
          <textarea class="form-control"  name="comment-body"></textarea>
        </div>

        <div class="col-3 form-group">
          <button class="comment-form btn" type="submit">Add Comment</button>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="container mt-5">
  <div class="row pt-3">
    <div class="col-12">
      {{!-- {{> comments project.comments}} --}}
    </div>
  </div>
</section>

<script src="/js/edit-project.js"></script>
<script src="/js/delete-project.js"></script>
<script src="/js/comment.js"></script>